#hud {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.8);
    padding: 0.5em;

    @include min-width(300px);

    table {
        @include table-scaffolding;
        td:nth-child(1) {
            text-align: right;
            padding-right: 0.5em;
        }
        td:nth-child(2) {
            font-size: 1.5em;
        }
    }

    @include border-radius(10px);
    @include single-box-shadow;
}
