@import "base";
@import "hud";
@import "gun";

::selection {
    background-color: transparent;
}

body {
    @include background-size(cover);
    @include background-image(image-url("background.jpg"));
    background-repeat: no-repeat;
    overflow: hidden;
    background-color: gray;
    cursor: none !important;
    font-family: "Wallpoet";
}

#zombie {
    $image: "guy.png";
    $height: 600px;
    $width: 373px;
    @include sprited($image, $height, $width);
    position: absolute;
    left: 300px;
    top: 60px;
}

.bat {
    $image: "bat.png";
    $height: 100px;
    $width: $height;
    @include sprited($image, $height, $width);
    left: 50%;
    top: 50%;
}

.hit {
    @include border-radius(10px);
    background-color: red;
}
