@import "base";
@import "hud";
@import "gun";

::selection {
    background-color: transparent;
}

body {
    @include background-size(150%);
    @include background-image(image-url("background.jpg"));
    background-repeat: no-repeat;
    overflow: hidden;
    background-color: gray;
    cursor: none !important;
    font-family: "Wallpoet";
}

.bat {
    $image: "bat.png";
    $height: 175px;
    $width: $height;
    @include sprited($image, $height, $width);
    left: 50%;
    top: 50%;
}

.hit {
    @include border-radius(10px);
    background-color: red;
}
