/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../sass/_hud.scss */
#hud {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.8);
  padding: 0.5em;
  min-width: 230px;
  width: auto !important;
  width: 230px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 2, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
#hud table th {
  text-align: center;
  font-weight: bold;
}
/* line 6, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
#hud table td,
#hud table th {
  padding: 2px;
}
/* line 8, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
#hud table td.numeric,
#hud table th.numeric {
  text-align: right;
}
/* line 13, ../../sass/_hud.scss */
#hud table td:nth-child(1) {
  text-align: right;
  padding-right: 0.5em;
}
/* line 17, ../../sass/_hud.scss */
#hud table td:nth-child(2) {
  font-size: 1.5em;
}

/* line 1, ../../sass/_gun.scss */
#crosshair {
  height: 40px;
  width: 40px;
  position: absolute;
  background-image: url('../img/crosshair.png?1318198207');
  -moz-background-size: 40px, 40px;
  -webkit-background-size: 40px, 40px;
  -o-background-size: 40px, 40px;
  background-size: 40px, 40px;
  background-repeat: no-repeat;
  z-index: 1000;
}

/* line 9, ../../sass/_gun.scss */
#gun {
  height: 440px;
  width: 449px;
  position: absolute;
  background-image: url('../img/gun.png?1317644778');
  -moz-background-size: 440px, 449px;
  -webkit-background-size: 440px, 449px;
  -o-background-size: 440px, 449px;
  background-size: 440px, 449px;
  background-repeat: no-repeat;
  right: -80px;
  bottom: -80px;
  z-index: 100;
}

/* line 19, ../../sass/_gun.scss */
.bullet {
  position: absolute;
  height: 90px;
  width: 90px;
  -moz-border-radius: 45px;
  -webkit-border-radius: 45px;
  -o-border-radius: 45px;
  -ms-border-radius: 45px;
  -khtml-border-radius: 45px;
  border-radius: 45px;
  background-color: red;
  border: 1px solid black;
  z-index: 99;
}

/* line 5, ../../sass/screen.scss */
::selection {
  background-color: transparent;
}

/* line 9, ../../sass/screen.scss */
body {
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url('../img/background.jpg?1319908478');
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: gray;
  cursor: none !important;
  font-family: "Wallpoet";
}

/* line 19, ../../sass/screen.scss */
#zombie {
  height: 600px;
  width: 373px;
  position: absolute;
  background-image: url('../img/guy.png');
  -moz-background-size: 600px, 373px;
  -webkit-background-size: 600px, 373px;
  -o-background-size: 600px, 373px;
  background-size: 600px, 373px;
  background-repeat: no-repeat;
  position: absolute;
  left: 300px;
  top: 60px;
}

/* line 29, ../../sass/screen.scss */
.bat {
  height: 100px;
  width: 100px;
  position: absolute;
  background-image: url('../img/bat.png?1317584752');
  -moz-background-size: 100px, 100px;
  -webkit-background-size: 100px, 100px;
  -o-background-size: 100px, 100px;
  background-size: 100px, 100px;
  background-repeat: no-repeat;
  left: 50%;
  top: 50%;
}

/* line 38, ../../sass/screen.scss */
.hit {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-color: red;
}
