/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../../sass/screen.scss */
body {
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url('../img/background.jpg?1315884264');
  background-repeat: no-repeat;
  cursor: none !important;
  overflow: hidden;
}

/* line 11, ../../sass/screen.scss */
#guy, #ghost-guy {
  width: 373px;
  height: 600px;
  position: absolute;
  left: 300px;
  top: 60px;
}

/* line 20, ../../sass/screen.scss */
#guy {
  background-image: url('../img/guy.png?1315914348');
}

/* line 24, ../../sass/screen.scss */
#ghost-guy {
  background-image: url('../img/ghost-guy.png?1315914172');
}

/* line 28, ../../sass/screen.scss */
.bat {
  height: 100px;
  width: 100px;
  position: absolute;
  background-image: url('../img/bat.png?1317584752');
  -moz-background-size: 100px, 100px;
  -webkit-background-size: 100px, 100px;
  -o-background-size: 100px, 100px;
  background-size: 100px, 100px;
  background-repeat: no-repeat;
  left: 900px;
  top: 300px;
}

/* line 39, ../../sass/screen.scss */
#crosshair {
  height: 40px;
  width: 40px;
  position: absolute;
  background-image: url('../img/crosshair.png?1318198207');
  -moz-background-size: 40px, 40px;
  -webkit-background-size: 40px, 40px;
  -o-background-size: 40px, 40px;
  background-size: 40px, 40px;
  background-repeat: no-repeat;
  z-index: 1000;
}

/* line 49, ../../sass/screen.scss */
#gun {
  height: 440px;
  width: 449px;
  position: absolute;
  background-image: url('../img/gun.png?1317644778');
  -moz-background-size: 440px, 449px;
  -webkit-background-size: 440px, 449px;
  -o-background-size: 440px, 449px;
  background-size: 440px, 449px;
  background-repeat: no-repeat;
  right: -80px;
  bottom: -80px;
  z-index: 100;
}

/* line 62, ../../sass/screen.scss */
.bullet {
  position: absolute;
  height: 90px;
  width: 90px;
  -moz-border-radius: 45px;
  -webkit-border-radius: 45px;
  -o-border-radius: 45px;
  -ms-border-radius: 45px;
  -khtml-border-radius: 45px;
  border-radius: 45px;
  background-color: red;
  border: 1px solid black;
  z-index: 99;
}

/* line 76, ../../sass/screen.scss */
.enemy.hit {
  border: 1px solid red;
}
